.hero{
    width: 100%;
    min-height:100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), 
    url('../../Img/hero.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover; 
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: center;
    max-width: 800px;
}
.hero-text h1{
    font-size: 50px;
    font-weight: 600px;
}
.hero-text p{
    max-width: 700px;
    margin: 20px auto 20px;
    line-height: 1.4;
}

@media(max-width:768px){
    .hero-text h1{
        font-size: 40px;
        font-weight: 800;
       
    }
    .hero-text p{
        font-size: 16px;       
    }
    
}
@media(max-width:600px){
    .hero-text h1{
        margin-top: 20px;
        font-size:30px;
        font-weight: 600px;
    }
}
@media(max-width:430px){
    .hero-text h1{
        margin-top: 40px;
        font-size:30px;
        font-weight: 600px;
    }
}

@media(max-width:440px){
    .btn{
       margin-bottom: 20px;
    }
}